# Database Connection
# format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
DATABASE_URL="postgresql://user:password@localhost:5432/med-app"

# Analytics (Optional - for local debugging)
# NEXT_PUBLIC_ANALYTICS_ENABLED="true"
